*{
  font-family: monospace, Courier, Tahoma, sans-serif
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.suggestions-form-group{
  /* position: absolute; */
}
.suggestions{
  background-color: #faebd700;
  box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important;
  display: block;
  /* position: absolute; */
  z-index: 1;
  /* left: 0; */
}

.suggestions > li{
  list-style: none;
  padding: 0.5rem;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.suggestions > li:nth-last-of-type(){
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}
.suggestions > li:hover{
  background-color: #29290315;
}
.h-50{
  height: 5000px;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 20px;
  padding-bottom: 30px;
}
.h-50 > h6{
  font-size: large;
}
.loader{
  width: 50%;
}
.logo{
  width: 200px;
}
div.card.m-2.p-4.border-0.shadow-sm{
  width: 370px;
}


@media screen and(max-width: 600px){
  .loader{
    width: 70%;
  }
}
@media screen and (max-width: 900px){
  .h-50{
    height: 5000px;
    padding-top: 0px;
    padding-bottom: 5px;
  }
  .global-container{
    height: 30rem;
    overflow: hidden;
  }
}